{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>About Us - Time Restaurant</h1>
        <p>Welcome to Time, where we serve delicious meals made with the freshest ingredients!</p>
        <p>Our restaurant is committed to providing an exceptional dining experience for every guest. Whether you're joining us for a casual lunch, a romantic dinner, or a special celebration, we strive to create a warm and inviting atmosphere.</p>
        <p>At Time, we take pride in our diverse menu, offering a variety of starters, salads, main dishes, and desserts to satisfy every palate. Our talented chefs are passionate about creating flavorful dishes that showcase the best of local and seasonal ingredients.</p>
        <p>Thank you for choosing Time. We look forward to serving you soon!</p>
    </div>
{% endblock content %}